@import 'landingpages.css';
@import 'main.css';

html,body {
	background-color: #D5D9E5;
}

h3 {
	color:  #435261;
}
a {
	text-decoration:  none;
}
.header-text {
	color: #435261;
}
.hero-img .play-btn {
	position: absolute;
	bottom: 450px;
	right: 175px;
	/*animation: boxShadowExpand 2s ease-in-out alternate infinite;*/
}
.conlusion-last .content-1 p {
	bottom:  77%;
	left: 30%;
}
.conlusion-last .content-1 h5 {
	bottom:  65%;
	left: 30%;
}
h5 {
	color: white;
}
/*.conlusion-last .content-2 p {
	position:  absolute;
	top:  65%;
	left: 30%;
}
.conlusion-last .content-2 h5 {
	position:  absolute;
	bottom:  12%;
	left: 30%;
}*/
.text-description a {
	text-decoration:  none;
}

/*.content-1 img,.content-2 img {
	width: 340px;
	height:  200px;
	object-fit: contain;
}*/
/*.content-2 div {
	width:240px;
	height: 200px;
	background-color: #FF7547;
	border-radius: 50px 0px 0px 50px;
}*/
.nextpage p, .nextpage h5 {
	color: #FF7547;
}