@import 'landingpages.css';
@import 'main.css';
@import 'dphiassess.css';
html, body {
	background-color: #F6F9FE;
}
.user-journey {
	background-color: #866FD9;
}
.full-screen div:first-child {
	padding: 20px 0px ;
}
.user-journey div:first-child {
	padding: 0px 0px ;	
}
.user-journey h3 {
	margin-top:  60px;
	color: #fff;
}
.user-journey .last-overview {
	margin-bottom: 60px;
}